.shadow-white {
  -webkit-box-shadow: inset 0px 13px 14px rgba(219, 219, 219, 0.75);
  -moz-box-shadow: inset 0px 13px 14px rgba(219, 219, 219, 0.75);
  box-shadow: inset 0px 13px 14px rgba(219, 219, 219, 0.75);
}
.shadow-black {
  -webkit-box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);
}

.gradien-inner {
  background: rgb(133,132,126);
  background: -moz-radial-gradient(circle, rgba(133,132,126,0.5971638655462185) 33%, rgba(121,117,110,0.7232142857142857) 61%, rgba(100,97,92,0.7232142857142857) 100%);
  background: -webkit-radial-gradient(circle, rgba(133,132,126,0.5971638655462185) 33%, rgba(121,117,110,0.7232142857142857) 61%, rgba(100,97,92,0.7232142857142857) 100%);
  background: radial-gradient(circle, rgba(133,132,126,0.5971638655462185) 33%, rgba(121,117,110,0.7232142857142857) 61%, rgba(100,97,92,0.7232142857142857) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#85847e",endColorstr="#64615c",GradientType=1);
}
