.shadow-white {
  -webkit-box-shadow: inset 0px 13px 14px rgba(219, 219, 219, 0.75);
  -moz-box-shadow: inset 0px 13px 14px rgba(219, 219, 219, 0.75);
  box-shadow: inset 0px 13px 14px rgba(219, 219, 219, 0.75);
}
.shadow-black {
  -webkit-box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);
}

.gradien-inner {
  background: rgb(40, 39, 35);
  background: -moz-radial-gradient(
    circle,
    rgba(40, 39, 35, 0.5971638655462185) 25%,
    rgba(56, 54, 50, 0.7) 41%,
    rgba(63, 61, 57, 0.6) 69%,
    rgba(84, 81, 76, 0.7) 85%,
    rgba(84, 81, 76, 0.2) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(40, 39, 35, 0.5971638655462185) 25%,
    rgba(56, 54, 50, 0.7) 41%,
    rgba(63, 61, 57, 0.6) 69%,
    rgba(84, 81, 76, 0.7) 85%,
    rgba(84, 81, 76, 0.2) 100%
  );
  background: radial-gradient(
    circle,
    rgba(40, 39, 35, 0.5971638655462185) 25%,
    rgba(56, 54, 50, 0.7) 41%,
    rgba(63, 61, 57, 0.6) 69%,
    rgba(84, 81, 76, 0.7) 85%,
    rgba(84, 81, 76, 0.2) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282723",endColorstr="#54514c",GradientType=1);
}
