

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'logoForAzemsha';
    src:  url('./fonts/logoForAzemsha.eot?4k7cbd');
    src:  url('./fonts/logoForAzemsha.eot?4k7cbd#iefix') format('embedded-opentype'),
      url('./fonts/logoForAzemsha.ttf?4k7cbd') format('truetype'),
      url('./fonts/logoForAzemsha.woff?4k7cbd') format('woff'),
      url('./fonts/logoForAzemsha.svg?4k7cbd#logoForAzemsha') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  body{
    @apply bg-main-color;
  }

p, h1, h2, h3, figure, ul, a, article{
    @apply z-10 relative;
}

.zindex {
    z-index: 10;
}
.heading {
    @apply text-sub-color relative z-10 text-center uppercase font-bold text-5xl mb-4 after:block after:w-3/4 after:-translate-x-1/2 after:left-1/2 after:relative after:box-border after:border-t-[2px] after:border-sub-color after:mt-4;
}
.separator{
    @apply bg-main-color pt-32;
}
.separator-min{
    @apply bg-main-color pt-16 px-3 sm:px-28 md:px-3;
}
@media (max-width: 300px) {
    .heading {
        @apply text-3xl
    }
}
@media (min-width: 725px) and (max-width: 768px) {
    .carousel-slider{
        height: 200px;
    }
}

.fade-in-div{
    animation: fade-in 300ms forwards;
}
.fade-out-div{
    animation: fade-out 300ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
