
.slide {
    flex-grow: 1;
    flex:1;
    height: 400px;
    outline: 1px solide red;
    @apply rounded-lg duration-200 relative overflow-hidden border-[0.5px] border-white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.slide.active {
    @apply border-[1px];
    flex-grow: 3;
    /* box-shadow: 2px 4px 8px rgba(0, 0, 0, .5); */
    box-shadow:
  4.5px 4.5px 3.6px rgba(0, 0, 0, 0.017),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.025),
  30.1px 30.1px 24.1px rgba(0, 0, 0, 0.033),
  100px 100px 80px rgba(0, 0, 0, 0.05)
;
}
/* bg-white */
.content {
    @apply absolute duration-300 block whitespace-nowrap bottom-0 bg-black text-white mb-5 mx-5 bg-opacity-70 p-1 rounded-lg hover:bg-sub-accent-color hover:text-white active:scale-95;
    opacity: 0;
}
.slide.active .content {
    opacity: 1;
}
.slide img{
    width: 105%;
    height: 105%;
    object-fit: cover;
    object-position: center -1px;
}